.sosmedbutton{
    background-color: #00cc6d; 
    padding-top: 1em; 
    padding-bottom: 1em; 
    margin-right: 1em; 
    margin-bottom: 1em;
}
.sosmedlogo{
    width: 2em; 
    display: inline-block;
    margin-right: 1em; 
    vertical-align: middle;
}