body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Rubik', sans-serif;
    color: white;
    margin: 0;
}
div{
    margin: auto;
    border-radius: 1em;
    padding: 2em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    box-shadow: 0.5em 0.5em 1.5em #0a0a0f, -0.5em -0.5em 1.5em #323232;
    transition:ease-out 300ms;
}
a{
    text-decoration: none;
}


.navbar{
    position: -webkit-sticky;
    position: sticky;
    top: 1em;
    padding-left: 0%;
    padding-right: 0%;
    background-color:#009bff;
    width: 97%;
    margin: auto;
    z-index: 69;
}
.navbarmobile{
    width: 100%;
    top: 0em;
    border-radius: 0;
}
.navbarmenulist{
    width: fit-content;
    display: inline-block;
    background-color: transparent;
    box-shadow: none;
    border: none;
    border-radius: 1em;
    margin-right: 1em;
    color: white;
    padding: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    transition: ease-out 150ms;
}
.navbarmenulist:hover{
    background-color: #00cc6d;
    box-shadow: 0.5em 0.5em 1.5em #000000, -0.5em -0.5em 1.5em #323232;
}
.navbarmenulist:active{
    box-shadow: inset 0.1em 0.1em 0.3em #000000, inset -0.1em -0.1em 0.3em #00ff8a;
}
.navbarmenulistmobile{
    margin-right: 0.1em;
    padding-right: 1em;
    padding-left: 1em;
}

.sosmedbutton{
    border-radius: 1em;
    padding: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    transform: scale(1);
    width: fit-content;
    margin-left: 0%;
    display:inline-block;
    color: white;
    box-shadow: none;
    background-color: #00cc6d;
    transition: ease-out 150ms;
}
.sosmedbutton:hover{
    box-shadow: 0.5em 0.5em 1.5em #000000, -0.5em -0.5em 1.5em #323232;
    transform: scale(1.1);
}
.sosmedbutton:active{
    box-shadow: inset 0.1em 0.1em 0.3em #000000, inset -0.1em -0.1em 0.3em #00ff8a;
    transform: scale(1);
}

.sosmedlogo{
    width: 2em; 
    display: inline-block;
    margin-right: 1em; 
    vertical-align: middle;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}


.holder{
    background-color: transparent;
    width: 75%;
    margin: auto;
    transition:ease-out 300ms;
    box-shadow: none;
    padding: 0;
}
.holdermobile{
    width: 100%;
}

.border{
    background-color: transparent;
    height: 2em;
    box-shadow: none;
    transition: ease-out 300ms;
    padding: 0;
}
.bordermobile{
    height: 0px;
}
.bordernochange{
    background-color: transparent;
    height: 2em;
    box-shadow: none;
}


.shadow{
    box-shadow: 0.5em 0.5em 1.5em #0a0a0f, -0.5em -0.5em 1.5em #323232;
}
.noshadow{
    box-shadow: none;
}
.white{
    color: white;
}
.black{
    color: black;
}
.title{
    font-size: 2em;
}
.text{
    font-size: 1.3em;
}


.divmobile{
    border-radius: 0;
    box-shadow: none;
}