
.divstyle{
    margin: auto;
    border-radius: 1em;
    padding: 2em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    box-shadow: 0.5em 0.5em 1.5em #0a0a0f, -0.5em -0.5em 1.5em #323232;
    transition:ease-out 300ms;
}
.textstyle{
    font-size: 1.3em;
}
.titlestyle{
    font-size: 2em;
}
.title_sosmed{
    font-size: 2em;
    text-align: center;
}
.sticky{
    position: -webkit-sticky;
    position: sticky;
    top: 1em;
    padding-left: 0%;
    padding-right: 0%;
    background-color:#009bff;
    width: 97%;
    margin: auto;
    z-index: 69;
}
.topsquare{
    top: 0em;
    border-radius: 0em;
    width: 100%;
}
.alignmiddle{
    text-align: center;
}
.white{
    color: white;
    text-decoration: none;
}
.black{
    color:black;
    text-decoration: none;
}
.image{
    border-radius: 1em;
    display: block;
    box-shadow: 0.5em 0.5em 1.5em #000000, -0.5em -0.5em 1.5em #323232;
    transition:ease-out 300ms;
    width: 75%;
}
.sosmed_image{
    width: 300px;
    height: 300px;

}
.imgfull{
    width:100%;
}
.image:hover{
    width: 100%;
}
.oldshadow{
    box-shadow: 0.5em 0.5em 1.5em #0a0a0f, -0.5em -0.5em 1.5em #32323c;
}
.fitleft{
    width: fit-content;
    margin-left: 0%;
    display:inline-block;
}
.noshadow{
    background-color: transparent;
    box-shadow: none;
    border: none;
}
.noshadow:hover{
    background-color: #00cc6d;
    box-shadow: 0.5em 0.5em 1.5em #000000, -0.5em -0.5em 1.5em #323232;
}
.noshadow:active{
    box-shadow: inset 0.1em 0.1em 0.3em #000000, inset -0.1em -0.1em 0.3em #00ff8a;
}
.shadow{
    box-shadow: 0.5em 0.5em 1.5em #000000, -0.5em -0.5em 1.5em #323232;
}
.inshadow{
    box-shadow: inset 0.1em 0.1em 0.3em #000000, inset -0.1em -0.1em 0.3em #00ff8a;
}
.marginr{
    margin-right: 1em;
}
.border{
    height: 2em;
    background-color: transparent;
    transition:ease-out 300ms;
}
.noborder{
    height: 0em;
}
.holder{
    background-color: transparent;
    width: 75%;
    margin: auto;
    transition:ease-out 300ms;
}
.holderfull{
    width: 100%;
}
.padtop{
    padding-top: 2em;
}
.padbot{
    padding-bottom: 2em;
}
.padtopone{
    padding-top: 1em;
}
.padbotone{
    padding-bottom: 1em;
}
.nodrag{
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

#side ol,ul{
    list-style: none;
}

#side li{
    display: inline;
    padding-right: 2em;
}

#white a{
    color:white;
    text-decoration: none;
}

a{
    color: black;
    text-decoration: none;
}

body{
    margin:0;
}
